            <!-- Contact Partial-->
            <section class="resume-section" id="contact">
                <div class="resume-section-content">
                    <h2 class="mb-5">Get in touch!</h2>

                    <div class="container">
  <form action="action_page.php">

    <input type="text" id="name" name="name" placeholder="Name">

    <input type="text" id="email" name="email" placeholder="Email Id">

    <textarea id="subject" name="subject" placeholder="Write your message here.." style="height:160px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
                </div>
            </section>
        </div>