 <!-- Education Partial-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Charotar University Of Science and Technology</h3>
                            <div class="subheading mb-3">MASTER OF COMPUTER APPLICATIONS</div>
                            <div>Awarded "Smt. Chandaben Mohanbhai Patel - Gold Medal"</div>
                            <p>GPA: 4.0<br>
                            CGPA: 9.64</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">July 2018 - May 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Sardar Patel University</h3>
                            <div class="subheading mb-3">BACHELOR OF BUSINESS ADMINISTRATION WITH INFORMATION TECHNOLOGY MANAGEMENT</div>
                            <p>GPA: 3.7<br>
                            CGPA: 8.23</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">June 2015 - March 2018</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />           