            <!-- Experience Partial-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Web Developer</h3>
                            <div class="subheading mb-3">Infinity Innovations</div>
                            <p>Developing wireframes, Ensure the technical feasibility of UI/Ux designs, Gathering and refine sepcifications and requirements based on technical needs.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">June 2019 - December 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Internship</h3>
                            <div class="subheading mb-3">Infinity Innovations</div>
                            <p>Generating website care reports, Provide technical support to clients when necessary, Evaluating code to ensure it meets industry standards, is valid, is properly structured, and is compatible with browsers, devices and operating systems.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2018 - June 2018</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />