<!-- Skills-->
            <section class="resume-section" id="project">
                <div class="resume-section-content">
                    <h2 class="mb-5">Live Projects</h2>
                    <div class="imgrow">
  <div class="imgcolumn">
    <a href="https://bakelandbakery.com/"><img src="images\bakelandbakery.com.png" alt="Bakeland Bakery" style="width:100%"></a>
  </div>
  <div class="imgcolumn">
    <a href="https://comfyinteriors.com/"><img src="images\comfyinteriors.com.png" alt="Comfy Interiors" style="width:100%"></a>
  </div>
  <div class="imgcolumn">
    <a href="https://dharafoods.com/"><img src="images\dharafoods.com.png" alt="Dhara Foods" style="width:100%"></a>
  </div>
</div>
                </div>
            </section>
            <hr class="m-0" />